@use '../../styles/_variables.scss' as *;


.container {
  height: 100vh;
  background-color: #F9F9F9;
  width: 25rem;
  position: absolute;
  top: 0;
  right: $navWidth;
  border-left: 2px solid #EEE;
  border-radius: 1rem 0 0 1rem;
  padding: 1.5rem;
  overflow-y: auto;
}
