.container {
  margin-bottom: 2rem
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.75rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  &:hover {
    border-color: #545F71;
  }

  & h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
