.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F9F9F9;
  height: 100vh;
  padding: 2rem 1rem;
  text-align: center;
  border-right: 2px solid #EEE;

  &.secondaryNav {
    border-right: none;
    border-left: 2px solid #EEE;
  }
}

.logo {
  margin: 0 auto 2rem;
}

.mainList,
.secondaryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .listItem {

    .listLink {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f3f0e7;
        cursor: pointer;
      }

      &.active {
        background-color: #f3f0e7;
      }
    }

    button {
      all: unset;
    }
  }
}
